
<div class="container animate__animated animate__backInLeft">
  <app-titulo [titulo]="titulo"></app-titulo>
  <br>
    <div class="borda">
    <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
      <div class="col">
        <div class="p-3 border bg-gradient" style="cursor: pointer;" routerLink="/administrador" >
          Administradores
        </div>
      </div>
      <div class="col">
        <div class="p-3 border bg-gradient" style="cursor: pointer;" routerLink="/cliente">
          Cliente</div>
      </div>
      <div class="col">
        <div class="p-3 border bg-gradient" style="cursor: pointer;" routerLink="/clivro">
          Livro</div>
      </div>
      <div class="col">
        <div class="p-3 border bg-gradient" style="cursor: pointer;" routerLink="/autor">
          Autor</div>
      </div>
      <div class="col">
        <div class="p-3 border bg-gradient" style="cursor: pointer;" routerLink="/marca">
          Marca</div>
      </div>
      <div class="col">
        <div class="p-3 border bg-gradient" style="cursor: pointer;" routerLink="/segmento">
          Segmento</div>
      </div>
      <div class="col">
        <div class="p-3 border bg-gradient" style="cursor: pointer;" routerLink="/compra">
          Compra</div>
      </div>
      <div class="col">
        <div class="p-3 border bg-gradient" style="cursor: pointer;" routerLink="/compraItem">
          CompraItem</div>
      </div>
      <div class="col">
        <div class="p-3 border bg-gradient" style="cursor: pointer;" routerLink="/genero">
          Gênero</div>
      </div>
      <div class="col">
        <div class="p-3 border bg-gradient" style="cursor: pointer;" routerLink="/classificacao">
          Classificação</div>
      </div>
    </div>
    </div>
  </div>

