<div class="container">
  <div class="row row-cols-auto animate__animated animate__backInLeft justify-content-center">
    <div class="btn btn-dark" ><a routerLink="/principal">A</a></div>
    <div class="btn btn-dark" ><a routerLink="/principal">B</a></div>
    <div class="btn btn-dark" ><a routerLink="/principal">C</a></div>
    <div class="btn btn-dark" ><a routerLink="/principal">D</a></div>
    <div class="btn btn-dark" ><a routerLink="/principal">E</a></div>
    <div class="btn btn-dark" ><a routerLink="/principal">F</a></div>
    <div class="btn btn-dark" ><a routerLink="/principal">G</a></div>
    <div class="btn btn-dark" ><a routerLink="/principal">H</a></div>
    <div class="btn btn-dark" ><a routerLink="/principal">I</a></div>
    <div class="btn btn-dark" ><a routerLink="/principal">J</a></div>
    <div class="btn btn-dark" ><a routerLink="/principal">K</a></div>
    <div class="btn btn-dark" ><a routerLink="/principal">L</a></div>
    <div class="btn btn-dark" ><a routerLink="/principal">M</a></div>
    <div class="btn btn-dark" ><a routerLink="/principal">N</a></div>
    <div class="btn btn-dark" ><a routerLink="/principal">O</a></div>
    <div class="btn btn-dark" ><a routerLink="/principal">P</a></div>
    <div class="btn btn-dark" ><a routerLink="/principal">Q</a></div>
    <div class="btn btn-dark" ><a routerLink="/principal">R</a></div>
    <div class="btn btn-dark" ><a routerLink="/principal">S</a></div>
    <div class="btn btn-dark" ><a routerLink="/principal">T</a></div>
    <div class="btn btn-dark" ><a routerLink="/principal">U</a></div>
    <div class="btn btn-dark" ><a routerLink="/principal">V</a></div>
    <div class="btn btn-dark" ><a routerLink="/principal">W</a></div>
    <div class="btn btn-dark" ><a routerLink="/principal">X</a></div>
    <div class="btn btn-dark" ><a routerLink="/principal">Y</a></div>
    <div class="btn btn-dark" ><a routerLink="/principal">Z</a></div>
  </div>
</div>

<br>
<div>
<table class=" container table animate__animated animate__backInLeft">
  <thead>
    <tr>
      <H1 scope="col">Livros com a Letra: A</H1>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row" type="button" (click)="openModal(template)">A Sutil Arte De Ligar O Foda-se</th>
    </tr>
    <tr>
      <th scope="row" type="button" (click)="openModal(template)">A Garota Do Lago</th>
    </tr>
    <tr>
      <th scope="row" type="button" (click)="openModal(template)">Admirável Mundo Novo</th>
    </tr>
    <tr>
      <th scope="row" type="button" (click)="openModal(template)">A Rainha Vermelha</th>
    </tr>
  </tbody>
</table>
</div>

<br>

<div class="container  animate__animated animate__backInLeft  legal" >
    <div class="row align-content-center row-cols-1 row-cols-md-4 ">
      <div class="col ">
        <div class="UmaBorda">
          <img src="assets/img/aRainhaVermelha.jpg" class="card-img-top img-fluid img-thumbnail" alt="O poder do agora" type="button" (click)="openModal(template)">
          <button type="button" class="btn btn-outline-dark img-fluid" style="width: 16rem" (click)="openModal(template)">Detalhes</button>
          <button type="button" class="btn btn-outline-dark img-fluid" style="width: 16rem">Comprar</button>
        </div>
        <br>
      </div>
      <div class="col">
        <div class="UmaBorda">
          <img src="assets/img/oIluminado.jpg" class="card-img-top img-fluid img-thumbnail" alt="Mais esperto que o diabo" type="button" (click)="openModal(template)">
          <button type="button" class="btn btn-outline-dark img-fluid" style="width: 16rem" (click)="openModal(template)">Detalhes</button>
          <button type="button" class="btn btn-outline-dark img-fluid" style="width: 16rem">Comprar</button>
        </div>
        <br>
      </div>
      <div class="col">
        <div class="UmaBorda">
          <img src="assets/img/osMiseraveis.jpg" class="card-img-top img-fluid img-thumbnail" alt="O Poder do Hábito" type="button" (click)="openModal(template)">
          <button type="button" class="btn btn-outline-dark img-fluid" style="width: 16rem" (click)="openModal(template)">Detalhes</button>
          <button type="button" class="btn btn-outline-dark img-fluid" style="width: 16rem">Comprar</button>
        </div>
        <br>
      </div>
      <div class="col">
        <div class="UmaBorda">
          <img src="assets/img/aGarotaDoLago.jpg" class="card-img-top img-fluid img-thumbnail" alt="Uma Lenda A Toda Velocidade" type="button" (click)="openModal(template)">
          <button type="button" class="btn btn-outline-dark img-fluid" style="width: 16rem" (click)="openModal(template)">Detalhes</button>
          <button type="button" class="btn btn-outline-dark img-fluid" style="width: 16rem">Comprar</button>
          </div>
        </div>
      </div>
  </div>


  <br>
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center animate__animated animate__zoomIn">
      <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1">Voltar</a>
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
        <a class="page-link" href="#">Próximo</a>
     </li>
    </ul>



    <ng-template #template>
      <div class="modal-body">
        <app-Detalhes></app-Detalhes>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn pull-right" aria-label="Close" (click)="modalRef.hide()">
          Fechar
        </button>
      </div>
    </ng-template>






